{% extends "ProyectoWebApp/base.html"%}

{% load static %}

{% block content %}



   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/Inicio.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Puntualidad</span>
            <span class="section-heading-lower">La mejor Pizza</span>
          </h2>
          <p class="mb-3">En la puertra de tu casa en menos de 30 min con el envío normal. Que esperas para hacer tu pedido.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Contamos con una amplia experiencia, destacados por nuestra atencion
                 y la calidad de nuestros productos manejamos una amplia varidad de sabores y tamaños. 
                 pueden encontrarnos en AV 1E #1-12 LOS FAROLES, AV 6E #6-23 Sayago-Riviera, AV 10 Videlso-Patios.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
  